:root {
  --color-blue: #1a2c50;
  --color-pearl: #e4e4e4;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    font-family: "Poppins", sans-serif;
    color: var(--color-blue);
    background-color: var(--color-pearl);
    display: flex;
    align-items: center;
    justify-content: center;
}
.background {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.container {
    width: 95%;
    max-width: 1200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    margin-bottom: 30px;
}

.header div {
    letter-spacing: 2px;
    font-weight: 500;
}

.header h1 {
    font-family: "Noto Serif", serif;
    font-size: 2rem;
    font-weight: 900;
}

.testimonials-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;
}

.card {
    width: calc((100% - 10px * 2) / 3);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--extra-light);
    border-radius: 5px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.testimonials-grid:hover > .card:not(:hover) {
    filter: blur(3px);
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
i {
    font-size: 30px;
    color: rgb(114, 173, 255);
}

hr {
    width: 30%;
    margin: auto;
    color: var(--text-light);
}

img {
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 100%;
    border: 1px solid var(--color-blue);
}

.name {
    font-size: 20px;
    font-weight: 400;
    color: #333333;
    transition: 0.3s;
    width: fit-content;
}
.role {
    font-size: 17px;
    font-weight: 400;
    width: fit-content;
    transition: 0.3s;
    cursor: pointer;
}
.name:hover {
    color: #4d4d4d;
}
.role:hover {
    color: rgb(44, 130, 236);
}

@media only screen and (max-width: 800px) {
    html, body {
        height: unset;
    }
    .container {
        padding: 20px;
    }
    .testimonials-grid {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 50%;
    }
}