* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html, body {
    height: 100%;
}
body {
    background: #212121;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    background: #fff;
    padding: 20px 20px 20px 20px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    height: 70%;
    max-height: 400px;
    min-height: 365px;
    h1 {
        margin-bottom: 5px;
    }
}
.testimonial {
    display: none;
    opacity: 0;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
    min-height: 230px;
    .title {
        font-size: 24px;
        color: #333;
    }
    .role {
        color: #777;
        font-size: 17px;
    }
    .text {
        color: #555;
        margin-top: 15px;
        line-height: 1.6;
    }
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px;
    }
}
.active {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    button {
        background-color: #007bff;
        border: none;
        color: white;
        padding: 10px 18px;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.3s;
    }
    button:hover {
        background-color: #0056b3;
    }
}

@media only screen and (max-width: 600px) {
    .testimonial-container {
        padding: 20px;
    }

    .testimonial  {
        .text {
            font-size: 18rem;
        }
    }
}